/*-------------------------------------------------------------------------------*/
/* 1. FONTS SETTINGS */
/* 2. RESET STYLES */
/* 3. GLOBAL STYLES */
/* 4. BUTTONS */
/* 5. TYPOGRAPHY */
/* 6. ALIGNMENT */
/* 7. FORM STUFF */
/* 8. MODAL, PAGINATION, ALERTS */
/* 9. HEADER, FOOTER, PRIORITY RENDERING CONTENT */
/*-------------------------------------------------------------------------------*/

:root {
  --color-text: #2C302D;
  --color-primary: #00a329;
  --color-dark: #1A343F;
  --color-secondaty: #4999BA;
  --color-secondaty1: #2E6074;
  --color-primary-light: #BCE2F1;
  --color-lightblue: rgba(26, 52, 63, 0.5);
  --color-white: #ffffff;
  --color-orange: #F27130;
  --color-lightorange: #F2B230;
  --color-green: #66CC66;
  --color-red: #DD575F;

  --colort-danger: #f64639;
  
  --transition: all .3s linear;
}

/*-------------------------------------------------------------------------------*/
/* FONTS SETTINGS */
/*-------------------------------------------------------------------------------*/

/* Commissioner font */
@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  src: local(''),
    url('fonts/static/Montserrat-Thin.ttf'),
    url('fonts/static/Montserrat-ThinItalic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  src: local(''),
    url('fonts/static/Montserrat-ExtraLight.ttf'),
    url('fonts/static/Montserrat-ExtraLightItalic.ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: local(''),
    url('fonts/static/Montserrat-Light.ttf'),
    url('fonts/static/Montserrat-LightItalic.ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local(''),
    url('fonts/static/Montserrat-Regular.ttf'),
    url('fonts/static/Montserrat-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: local(''),
    url('fonts/static/Montserrat-Medium.ttf'),
    url('fonts/static/Montserrat-MediumItalic.ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: local(''),
    url('fonts/static/Montserrat-SemiBold.ttf'),
    url('fonts/static/Montserrat-SemiBoldItalic.ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: local(''),
    url('fonts/static/Montserrat-Bold.ttf'),
    url('fonts/static/Montserrat-BoldItalic.ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src: local(''),
    url('fonts/static/Montserrat-ExtraBold.ttf'),
    url('fonts/static/Montserrat-ExtraBoldItalic.ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: local(''),
    url('fonts/static/Montserrat-Black.ttf'),
    url('fonts/static/Montserrat-BlackItalic.ttf')
}




/**--------------------------------------------------------------------------------*/
/* RESET STYLES */
/**--------------------------------------------------------------------------------*/
html {
  overflow-y: scroll;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  -webkit-locale: auto;
}

.clear {
  clear: both;
  overflow: hidden;
  height: 0px;
  font-size: 0px;
  display: block;
}

html:not(.touch-screen)::-webkit-scrollbar,
html:not(.touch-screen) *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar-track,
html:not(.touch-screen) *::-webkit-scrollbar-track {
  background: #FFF;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb,
html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background: #00A329;
}

:focus,
:active,
:visited {
  outline: none;
}

button {
  background: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
  transition: var(--transition)
}

/**--------------------------------------------------------------------------------*/
/* GLOBAL SETTINGS */
/**--------------------------------------------------------------------------------*/
html {
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

#content-block {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.overflow-hidden {
  overflow: hidden;
}

html.overflow-hidden body {
  overflow: hidden;
}

img[data-i-src],
[data-bg] {
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
  opacity: 0;
}

img[data-i-src].imgLoaded,
[data-bg].bgLoaded {
  opacity: 1;
}


@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* BUTTONS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.btn {
  padding: 15px 40px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: var(--transition);
  width: fit-content;
  width: -moz-fit-content;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 20px;
  max-width: 100%;
  letter-spacing: 0.06em;
  font-weight: 500;
}

.btn.btn-info {
  background-color: #2f283d
}

.btn.btn-info:hover {
  background-color: #3c2f56
}

.btn.btn-danger {
  background-color: var(--color-red);
}

.btn.btn-danger:hover {
  background-color: #BE555D
}

.btn.btn-success {
  background-color: #82c166
}

.btn.btn-success:hover {
  background-color: #a2d586
}

.btn.btn-warning {
  background-color: #f59c1a
}

.btn.btn-warning:hover {
  background-color: #e29018
}

.btn.btn-primary {
  background-color: #2E6074;
  border: 2px solid #2E6074
}

.btn.btn-primary:hover {
  background-color: transparent;
  border-color: #2E6074;
  color: #2E6074
}

.btn.btn-secondary {
  background-color: var(--color-secondaty);
  border: 2px solid var(--color-secondaty);
  color: #fff;
}

.btn.btn-secondary:hover {
  background-color: transparent;
  border-color: var(--color-secondaty);
  color: var(--color-secondaty);
}

.btn.btn-icon-hover {
  position: relative;
  overflow: hidden;
  transition: padding .35s, background .2s, color .2s;
}

.btn.btn-icon-hover::after {
  content: '';
  height: 24px;
  width: 24px;
  position: absolute;
  top: 50%;
  transform: translate(80px, -50%);
  opacity: 0;
  transition: all .2s ease-out;
}

.btn.btn-icon-hover:hover:after {
  opacity: 1;
  transform: translate(8px, -50%);
}

.btn-xxl.btn.btn-icon-hover:hover:after {
  opacity: 1;
  transform: translate(15px, -50%);
}

.btn-xxl {
  padding: 30px 100px;
  color: #fff;
  border: none;
  font-size: 24px;
  font-weight: 900;
  width: auto;
  width: fit-content;
}

.btn.btn-icon-hover:hover {
  padding-left: 30px !important;
  padding-right: 50px !important;
}

.btn-xxl.btn.btn-icon-hover:hover {
  padding-left: 80px !important;
  padding-right: 120px !important;
}


@media (max-width: 1600px) {
  .btn {
    padding: 13px 40px;
  }

  .btn-xxl {
    padding: 26px 70px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .btn {
    font-size: 16px;
  }
}

.btn.w400 {
  width: 400px;
}

.w100 {
  width: 100%;
}


/*-------------------------------------------------------------------------------*/
/* TYPOGRAPHY */
/*-------------------------------------------------------------------------------*/
body {
  font-family: 'Montserrat';
  font-size: 16px;
  font-size: 1em;
  color: #000;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
  transition: --transition;
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.pull-left {
  float: left;
  width: auto
}

.pull-right {
  float: right;
  width: auto
}

body,
html {
  width: 100vw;
  overflow-x: hidden
}

a:hover {
  text-decoration: none
}

img {
  max-width: 100%;
  max-height: 100%
}

nav li {
  list-style: none
}

table {
  border-collapse: collapse
}

input:focus {
  outline: none
}

a {
  transition: 0.3s;
  text-decoration: none;
  display: block;
}

.text a,
p a {
  display: inline
}

a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-sm {
  font-size: 12px;
  line-height: 1.4em;
  font-weight: 400;
}

.text {
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

.text-xl {
  font-size: 20px;
  line-height: 1.4em;
  font-weight: 400;
}

@media (min-width: 1366px) {
  .text-sm {
    font-size: 14px;
  }

  .text {
    font-size: 18px;
  }

  .text-xl {
    font-size: 22px;
  }
}

.text.letter--02 {
  letter-spacing: -0.02em;
}

.text.letter--04 {
  letter-spacing: -0.04em;
}

.text-regular {
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

.bolder {
  font-weight: 900;
}

.text>p,
.text-sm>p,
.text-xl>p {
  margin-bottom: 30px;
}

.up-cap {
  text-transform: capitalize;
}

*,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #000;
  font-family: 'Montserrat';
}

h1,
.h1 {
  font-size: 48px;
  line-height: 1.2em;
}

h2,
.h2 {
  font-size: 48px;
  line-height: 1.2em;
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.4em;
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.4em;
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.4em;
}

h6,
.h6 {
  font-size: 16px;
  line-height: 1.4em;
}

.text-truncate {
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-cut-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.text-cut-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.text-cut-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.text-cut-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text {
  color: var(--color-lightblue);
}

.title {
  color: var(--color-dark);
  font-weight: 900;
  font-family: 'Montserrat';
  line-height: 1.2em;
  letter-spacing: -0.06em;
}

@media (min-width: 1600px) {

  h1,
  .h1 {
    font-size: 72px;
  }

  h2,
  .h2 {
    font-size: 72px;
  }

  h3,
  .h3 {
    font-size: 42px;
  }

  h4,
  .h4 {
    font-size: 28px;
  }
}

@media (max-width: 1200px) {

  h1,
  .h1 {
    font-size: 50px;
  }

  h2,
  .h2 {
    font-size: 50px;
  }

  h3,
  .h3 {
    font-size: 28px;
  }

  h4,
  .h4 {
    font-size: 22px;
  }
}

@media (max-width: 991px) {

  h1,
  .h1 {
    font-size: 42px;
  }

  h2,
  .h2 {
    font-size: 42px;
  }

  h3,
  .h3 {
    font-size: 26px;
  }

  h4,
  .h4 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {

  h1,
  .h1 {
    font-size: 36px;
  }

  h2,
  .h2 {
    font-size: 36px;
  }

  h3,
  .h3 {
    font-size: 22px;
  }

  h4,
  .h4 {
    font-size: 18px;
  }
}

@media (max-width: 576px) {

  h1,
  .h1 {
    font-size: 32px;
  }

  h2,
  .h2 {
    font-size: 32px;
  }

  h3,
  .h3 {
    font-size: 20px;
  }

  h4,
  .h4 {
    font-size: 16px;
  }
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper img {
  object-fit: contain;
}

.l-h-1 {
  line-height: 0.9em;
}

.color-white {
  color: #FFF;
}

.color-light-05 {
  color: rgba(255, 255, 255, 0.5);
}

.color-gray {
  color: #858585;
}

.color-primary {
  color: var(--color-primary);
}

.color-dark {
  color: var(--color-dark);
}

.color-red {
  color: var(--colort-danger);
}


/*-------------------------------------------------------------------------------*/
/* ALIGNMENT */
/*-------------------------------------------------------------------------------*/

.sect-padd {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media (max-width: 991px) {
  .sect-padd {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.d-inline {
  display: inline
}

.d-iblock {
  display: inline-block
}

.d-block,
.show {
  display: block
}

.d-none,
.hide {
  display: none
}

.show-i {
  display: block !important
}

.hide-i {
  display: none !important
}

@media (max-width: 767px) {
  .m-hide {
    display: none !important;
  }
}

.w-auto {
  width: auto
}

.w-auto-i {
  width: auto !important
}

.h-auto {
  height: auto
}

.h-fit {
  height: fit-content
}

.h-min {
  height: min-content
}

.h-max {
  height: max-content
}

.h100 {
  height: 100%
}

.h100vh {
  height: 100vh
}

.m-auto {
  margin: auto
}

.mlr-auto {
  margin: auto
}

.m-0 {
  margin: 0
}

.m-0i {
  margin: 0 !important
}

.mt-10 {
  margin-top: 10px
}

.mb-10 {
  margin-bottom: 10px
}

.mt-15 {
  margin-top: 15px
}

.mb-15 {
  margin-bottom: 15px
}

.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px
}

.mt-20 {
  margin-top: 20px
}

.mb-20 {
  margin-bottom: 20px
}

.mt-30 {
  margin-top: 30px
}

.mb-30 {
  margin-bottom: 30px
}

.mt-40 {
  margin-top: 40px
}

.mb-50 {
  margin-bottom: 50px
}

.p-0 {
  padding: 0
}

.p-0-i {
  padding: 0 !important
}

.p-15 {
  padding: 15px
}

.pt-15 {
  padding-top: 15px
}

.pb-15 {
  padding-bottom: 15px
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px
}

.prl-0 {
  padding-left: 0;
  padding-right: 0
}

.pt-50 {
  padding-top: 50px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-40 {
  padding-left: 40px;
}

.pr-40 {
  padding-right: 40px;
}

.pl-60 {
  padding-left: 60px;
}

.pr-60 {
  padding-right: 60px;
}

.pl-80 {
  padding-left: 80px;
}

.pr-80 {
  padding-right: 80px;
}

@media (max-width: 1199px) {
  .xl-pl-0 {
    padding-left: 0;
  }

  .xl-pr-0 {
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .md-hide-i {
    display: none !important;
  }

  .md-show-i {
    display: block !important;
  }

  .md-block {
    display: block !important;
  }

  .md-pl-0 {
    padding-left: 0;
  }

  .md-pr-0 {
    padding-right: 0;
  }

  .md-pl-15 {
    padding-left: 15px;
  }

  .md-pr-15 {
    padding-right: 15px;
  }

  .md-w-auto {
    width: auto;
  }

  .md-order-2 {
    order: 2;
  }
}

@media (max-width: 767px) {
  .sm-mt-30 {
    margin-top: 30px;
  }

  .sm-mb-30 {
    margin-bottom: 30px;
  }

  .sm-mt-15 {
    margin-top: 15px;
  }

  .sm-mb-15 {
    margin-bottom: 15px;
  }

  .sm-w100 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .xs-p-0 {
    padding: 0;
  }

  .xs-pt-0 {
    padding-top: 0;
  }

  .xs-pb-0 {
    padding-bottom: 0;
  }
}

.p-static {
  position: static
}

.p-fixed {
  position: fixed
}

.p-relative {
  position: relative
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* FORM STUFF */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.input-group {
  position: relative;
}

.input,
textarea {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background: #fff;
  border: 1px solid #24424F;
  border-radius: 0;
  padding-left: 15px;
  font-size: 15px;
  transition: var(--transition);
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 140px;
  max-height: 300px;
  transition: none !important;
}

input::placeholder,
textarea::placeholder {
  color: #1A343F80;
}

.input:hover,
textarea:hover,
.input:focus,
textarea:focus {
  border-color: var(--color-primary);
  background: rgba(220, 237, 253, 0.5);
}

.border {
  border: 1px solid #000
}

.border-danger {
  border-color: var(--colort-danger);
}

.border-success {
  border-color: #82c166
}

.border-warning {
  border-color: #f59c1a
}

/* for input, select, textarea.. */
.danger {
  color: #fff !important;
  background-color: var(--colort-danger);
   !important;
  border: 1px solid var(--colort-danger);
   !important
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* MODAL, PAGINATION, ALERTS */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.alert {
  padding: 15px;
  margin-bottom: 15px;
  color: #fff
}

.alert * {
  color: #fff !important
}

.alert.alert-danger {
  background-color: #f52323
}

.alert.alert-warning {
  background-color: #f59c1a
}

.alert.alert-success {
  background-color: #82c166
}

.alert .close {
  float: right;
  cursor: pointer
}

.alert p:not(.mt-15) {
  margin: 5px !important
}

ul.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  list-style: none;
}

ul.pagination li {
  display: block
}

ul.pagination li * {
  padding: 10px 15px;
  border: 1px solid #2f283d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

ul.pagination li.active span,
ul.pagination li a:hover {
  background: #2f283d;
  color: #fff;
  text-decoration: none;
}

ul.pagination li[class*="off"] {
  background: #ccc;
  color: #fff;
}

ul.pagination li[class*="off"] * {
  border-color: #ccc
}


#divLoading {
  display: none
}

#divLoading.show {
  display: block;
  position: fixed;
  z-index: 10001;
  background-image: url('images/icon-loading.gif');
  background-color: #000;
  background-size: 80px;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: center;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

#modal-bg {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 998;
  display: none
}

.modal {
  position: fixed;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  width: 420px;
  height: 520px;
  top: 10%;
  left: calc(50% - 210px);
  z-index: 999;
  display: none
}

.modal i.fa-times {
  cursor: pointer
}

.modal input,
.modal textarea {
  height: auto;
  border: 1px solid #a2a2a2;
  padding: 5px 10px;
  margin-bottom: 30px;
}

.modal textarea {
  width: 100%;
  height: 100px
}

.modal button {
  display: block;
  margin: auto;
  padding: 10px 30px;
  margin-bottom: 15px;
  border: none
}


/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------------*/
p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--color-text);
}

.container {
  width: 1100px;
  max-width: 1100px;
  margin: 0 calc(50vw - 550px);
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

.section-item {
  max-width: 86%;
  margin: 0 auto 40px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  color: var(--color-text);
  text-align: center;
}

.section-item span {
  color: var(--color-primary);
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .section-item {
    max-width: 98%;
    margin: 0 auto 20px;
    font-size: 22px;
    line-height: 27px;
  }
}

.green-bold-text {
  font-weight: 700;
  color: var(--color-primary);
}

.blue-back {
  background-color: #f8f4f4;
}

.green-button {
  width: 260px;
  padding: 22px 0;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(180deg, #48D66B 0%, #38AF56 46.88%, #216933 100%);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.green-button:hover {
  background: linear-gradient(180deg, #48D66B 0%, #38AF56 60%, #216933 100%);
}

.common-form label img {
  position: absolute;
  display: inline;
  height: 14px;
  margin: 23px 0 0 20px;
}

.common-form label input {
  width: 254px;
  padding: 20px 10px 20px 50px;
  font-size: 14px;
  font-weight: 400;
  color: #2C302D;
  border: 1px solid rgba(44, 48, 45, 0.4);
  border-radius: 10px;
}

.common-form label input:focus {
  border: 1px solid var(--color-primary);
}

/* sale-block */
.sale-line {
  display: flex;
  flex-wrap: wrap;
}

.sale-block {
  position: relative;
  z-index: 2;
  width: 31%;
  display: flex;
  flex-direction: column;
  margin: 0 1.1% 25px;
  padding: 40px 20px;
  background: #FFFFFF;
  border: 1px solid rgba(44, 48, 45, 0.2);
  border-radius: 5px;
  box-shadow: -5px 5px 5px #dfe0df;
  transition: 0.5s;
  cursor: pointer;
}

.sale-block:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-radius: 5px;
  transition: 0.3s;
}

.sale-block:hover::after {
  border: 3px solid var(--color-primary);
}

.sale-block .sale-img img {
  width: 90%;
  margin: 0 5%;
}

.sale-block .sale-item {
  margin: 20px 0 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-text);
}

.sale-block .sale-description {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 14px;
  line-height: 140%;
}

.sale-block form {
  margin: 0 calc(50% - 127px);
}

.sale-block form input {
  margin: 0 auto 10px;
}

@media (max-width: 991px) {
  .sale-block {
    width: 48%;
    margin: 0 1% 25px;
  }
}

@media (max-width: 767px) {
  .sale-block {
    width: 80%;
    margin: 0 10% 25px;
  }

  .sale-block .sale-item {
    margin: 15px 0 8px;
    font-size: 14px;
    line-height: 18px;
  }

  .sale-block .sale-description {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .common-form label img {
    margin: 18px 0 0 14px;
  }

  .sale-block {
    width: 96%;
    margin: 0 2% 15px;
  }

  .sale-block form {
    margin: 0 calc(50% - 103px);
  }

  .common-form label input {
    width: 206px;
    padding: 16px 8px 16px 40px;
    font-size: 12px;
  }

  .green-button {
    width: 206px;
    padding: 17px 0;
    font-size: 12px;
  }
}


/* HEADER */
header {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4;
  width: 100vw;
  height: max-content;
}

.header * {
  color: #fff;
}

.header {
  padding: 40px 0;
}

.main-logo {
  width: 195px;
}

.logo-mobile {
  display: none;
}

.header nav li a {
  margin: 0 10px;
  padding: 0 0 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
}

.header nav li a:hover {
  border-bottom: 1px solid #fff;
}

.header-icons {
  align-items: center;
}

.header-icons a img {
  max-width: 22px;
  min-width: 20px;
  margin: 0 6px;
}

.header-contacts {
  margin: 8px 165px 0 30px;
}

.header-contacts .header-border-desk {
  position: absolute;
}

.header-contacts .header-border-mob {
  display: none;
}

.header-contacts-into {
  position: absolute;
  margin: -6px 0 0 16px;
}

.header-contacts .header-tel,
.header-contacts p {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.header-contacts .recall-me {
  margin: 5px 0 8px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  text-decoration-line: underline;
  opacity: 0.6;
}

.header .green-button {
  position: relative;
  z-index: 10;
  font-weight: 500;
  letter-spacing: -0.5px;
}

@media (max-width: 1199px) {
  .container {
    width: 96vw;
    max-width: 96vw;
    margin: 0 auto;
  }

  .logo-desktop,
  .header nav {
    display: none;
  }

  .logo-mobile {
    display: block;
  }

  .header-icons {
    flex-direction: column;
  }

  .header-icons a img {
    margin: 0 0 6px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 10px 0;
  }

  .main-logo {
    width: 90px;
  }

  .header-contacts .header-border-desk {
    display: none;
  }

  .header-contacts .header-border-mob {
    position: absolute;
    display: block;
  }

  .header .green-button {
    display: none;
  }

  .header-contacts-into {
    margin: -6px 0 0 10px;
  }

  .header-contacts {
    margin: 5px 150px 0 20px;
  }

  .header-contacts .header-tel,
  .header-contacts p {
    font-size: 12px;
    line-height: 15px;
  }

  .header-contacts .recall-me {
    font-size: 12px;
    line-height: 15px;
  }

  .header-adress {
    display: none;
  }
}

/* MAIN */
.main-section {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url(images/main-back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blur-background {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100%;
  background: #2C302D;
  opacity: 0.8;
}

.main-section-into {
  position: relative;
  z-index: 4;
  flex-direction: column;
  margin-top: 220px;
}

.main-section-into * {
  color: #fff;
}

.main-mobile-form {
  display: none;
}

.main-sale {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: italic;
}

.main-sale span {
  color: var(--color-primary);
  font-weight: 700;
}

.main-section-into h1 {
  max-width: 80%;
  font-size: 42px;
  line-height: 51px;
  font-weight: 700;
}

.main-pluses {
  max-width: 430px;
  margin: 20px 0 40px;
}

.main-pluses p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.main-pluses .grey-dot {
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background-color: rgb(124, 124, 124);
  border-radius: 50%;
}

.main-section-into .green-button {
  width: 320px;
  margin-bottom: 70px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 600;
}

.main-section-into .green-button img {
  height: 30px;
  margin-right: 10px;
}

.main-benefits {
  gap: 5%;
  margin-bottom: 40px;
}

.main-benefit {
  width: 30%;
  margin-bottom: 35px;
}

.main-benefit img {
  min-width: 35px;
  max-width: 40px;
  margin-right: 20px;
}

.main-benefit p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .main-section-into {
    margin-top: 250px;
  }

  .main-section-into h1 {
    font-size: 36px;
    line-height: 38px;
  }
}

@media (max-width: 991px) {
  .main-section-into {
    margin-top: 200px;
  }

  .main-section-into h1 {
    font-size: 20px;
    line-height: 24px;
  }

  .main-section .green-button {
    order: 1;
  }

  .main-benefits {
    margin-bottom: 20px;
  }

  .main-benefit {
    margin-bottom: 15px;
  }

  .main-benefit img {
    max-width: 30px;
    min-width: 25px;
    margin-right: 8px;
  }

  .main-benefit p {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 767px) {
  .main-section-into {
    margin-top: 150px;
  }

  .main-section-into h1 {
    order: -1;
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 24px;
  }

  .main-sale {
    display: none;
  }

  .main-mobile-form {
    display: block;
    width: 276px;
    height: 100px;
    padding: 13px 15px;
    background-image: url(images/Subtract.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
  }

  .main-mobile-form p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    font-style: italic;
  }

  .main-mobile-form label img {
    position: absolute;
    display: inline;
    height: 10px;
    margin: 10px 0 0 10px;
  }

  .main-mobile-form label input {
    width: 140px;
    padding: 8px 4px 8px 30px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    color: #2c302da4;
    border: 1px solid rgba(44, 48, 45, 0.4);
    border-radius: 5px;
  }

  .main-mobile-form input[type="submit"] {
    width: 85px;
    padding: 8px 0;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    border: 1px solid rgba(44, 48, 45, 0.4);
    border-radius: 5px;
    cursor: pointer;
  }

  .main-pluses {
    max-width: 228px;
    margin: 20px 0;
  }

  .main-benefits {
    gap: 1%;
    margin-bottom: 20px;
  }

  .main-benefit {
    align-items: flex-start;
    width: 48%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .main-section-into {
    margin-top: 140px;
  }

  .main-section-into {
    bottom: 20px;
  }

  .main-section-into .green-button {
    width: 250px;
    margin: 0 auto 40px;
    padding: 14px 0;
    font-size: 12px;
    line-height: 14px;
  }
}

/* CALC SECTION */
.calc-seaction {
  padding: 120px 0 20px;
}

.calc-seaction h2.section-item{
  max-width: 85%;
}

.calc-seaction .calc-p {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #2C302D;
}

.rhomb-line {
  width: 450px;
  height: 10px;
  margin: 10px auto 40px;
  background: #2c302d0c;
  border-radius: 5px;
}

.rhomb-line .rhomb img {
  position: relative;
  bottom: 20px;
}

.rhomb-line .rhomb img.rhomb-grey {
  width: 40px;
}

.rhomb-line .rhomb img.rhomb-green,
img.maingreen {
  width: 48px;
}

@media (max-width: 991px) {
  .calc-seaction {
    padding: 80px 0 20px;
  }
}

@media (max-width: 767px) {
  .calc-seaction .calc-p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 17px;
  }

  .rhomb-line {
    width: 300px;
    height: 6px;
    margin: 10px auto 30px;
  }

  .rhomb-line .rhomb img {
    bottom: 16px;
  }

  .rhomb-line .rhomb img.rhomb-grey {
    width: 30px;
  }

  .rhomb-line .rhomb img.rhomb-green,
  img.maingreen {
    width: 38px;
  }
}

.form-container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .form-container {
    padding: 0 20px;
  }
}

.form {
  position: relative;
  width: 100%;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
}

.form__title {
  position: absolute;
  left: 50px;
  top: -12px;
  z-index: 10;
  display: block;
  padding: 0 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 900;
  background-color: white;
}

.form__element-hide {
  display: none;
}

.form__wrap {
  height: max-content;
  padding: 50px 140px 20px;
}

@media (max-width: 1199px) {
  .form__wrap {
    padding: 30px 100px;
  }
}

@media (max-width: 991px) {
  .form__title {
    top: -10px;
    left: 40px;
    padding: 0 15px;
    font-size: 14px;
    line-height: 17px;
  }

  .form__wrap {
    padding: 30px 80px;
  }
}

@media (max-width: 767px) {
  .form__wrap {
    padding: 30px 60px;
  }
}

@media (max-width: 576px) {
  .form__title {
    top: -8px;
    left: 20px;
    padding: 0 10px;
    font-size: 10px;
    line-height: 14px;
  }

  .form__wrap {
    padding: 30px 20px;
  }
}

/* one-form */
.form__slide-wrap {
  padding-bottom: 30px;
}

.radio-one-block {
  width: 30%;
  margin: 0 10px 30px;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #dfe0df;
}

.form-container input[type="radio"],
.form-container input[type="checkbox"] {
  position: relative;
  width: 18px;
  height: 18px;
  margin: 16px 10px 16px 20px;
  background: #fff no-repeat center center;
  border: 1px solid rgba(44, 48, 45, 0.2);
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: top;
  cursor: pointer;
}

.form-container input[type="radio"]:where(:active:not(:disabled), :focus),
.form-container input[type="checkbox"]:where(:active:not(:disabled), :focus) {
  outline: none;
}

.form-container input[type="radio"]:checked,
.form-container input[type="checkbox"]:checked {
  background: transparent;
}

.form-container input[type="radio"]:checked::after,
.form-container input[type="checkbox"]:checked::after {
  position: absolute;
  left: 3px;
  bottom: -1px;
  content: url('images/check.svg');
}

.check-form-one label {
  cursor: pointer;
}

.check-form-one label img {
  width: 100%;
}

.check-form-one label p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #2C302D;
}

@media (max-width: 1199px) {
  .form__slide-wrap {
    gap: 10px;
  }

  .radio-one-block {
    width: 46%;
    margin: 0 1% 20px;
  }
}

@media (max-width: 767px) {
  .form__slide-wrap {
    gap: 5px;
  }

  .form-container .check-form-one input[type="radio"] {
    width: 9px;
    height: 9px;
    margin: 8px 5px 8px 10px;
    border-radius: 2px;
  }

  .form-container input[type="radio"]:checked::after {
    left: 1px;
  }

  .check-form-one label p {
    font-size: 8px;
    line-height: 10px;
  }
}

/* two-form */
.check-form-two {
  margin: 10% 0 0;
}

.check-form-two img.check-form-two-img {
  width: 310px;
  margin: 0 70px 0 0;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #dfe0df;
}

.check-form-two p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #2C302D;
}

.check-form-two .square-input {
  width: 90px;
  margin: 0 20px;
  padding: 10px 0;
  font-size: 24px;
  line-height: 29px;
  background: #FFFFFF;
  font-weight: 400;
  text-align: center;
  color: #2C302D;
  border: 1px solid #2c302d25;
  border-radius: 10px;
  -moz-appearance: textfield;
}

.square-input::-webkit-outer-spin-button,
.square-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.check-form-two .check-two-block input {
  margin: 0 10px 0 0;
}

.check-form-two .check-two-block label {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #2C302D;
}

.range-input {
  width: 230px;
  height: 10px;
  margin: 50px 0 70px;
  background: rgb(241, 240, 240);
  background-image: linear-gradient(var(--color-primary), var(--color-primary));
  background-size: 0% 100%;
  border-radius: 5px;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

.range-input::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  background-image: url(images/rhomb.svg);
  cursor: pointer;
  -webkit-appearance: none;
}

.range-input::-webkit-slider-runnable-track {
  background: transparent;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
}

@media (max-width: 1199px) {
  .check-form-two {
    margin: 15% 0 0;
  }

  .check-form {
    flex-direction: column;
    justify-content: center;
  }

  .check-form-two img.check-form-two-img {
    width: 70%;
    margin: 0 auto 30px;
  }

  .check-form-two-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .check-form-two .square-input {
    padding: 16px 0;
  }
}

@media (max-width: 767px) {
  .check-form-two {
    margin: 0;
  }

  .check-form-two img.check-form-two-img {
    width: 100%;
  }

  .range-input {
    margin: 30px 0 50px;
  }
}

/* form-three */
.check-form-three {
  margin: 10% 0 0;
}

.check-form-three img {
  width: 310px;
  margin: 0 70px 0 0;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #dfe0df;
}

.check-form-three label {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: #2C302D;
}

@media (max-width: 1199px) {
  .check-form-three {
    margin: 15% 0 0;
  }

  .check-form-three-inner {
    flex-direction: column;
  }

  .check-form-three img {
    width: 70%;
    margin: 0 auto 30px;
  }

  .form-container .check-form-three input[type="radio"] {
    margin: 0;
  }

  .check-form-three label {
    margin: 15px 0 15px 10px;
  }
}

@media (max-width: 767px) {
  .check-form-three {
    margin: 0;
  }

  .check-form-three img {
    width: 100%;
  }
}

/* four-form */
.check-form-four h5 {
  max-width: 500px;
  margin: 30px auto 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.check-form-four .common-form {
  width: 255px;
  margin: 0 auto;
}

.check-form-four .common-form label input {
  width: 192px;
  margin-bottom: 10px;
}

.check-form-four .common-form input[type="submit"] {
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .check-form-four {
    margin: 35% 0 0;
  }
}

@media (max-width: 767px) {
  .check-form-four {
    margin: 20% 0 0;
  }
}

@media (max-width: 576px) {
  .check-form-four {
    margin: 15% 0 0;
  }

  .check-form-four .common-form {
    width: 204px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .check-form-four .common-form label input {
    width: 154px;
    margin-bottom: 10px;
  }

  .check-form-four .common-form input {
    width: 204px;
  }
}

/* nav-buttons */
.form__btn-wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -22px;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 10px;
  background: #fff;
}

.form__btn-wrap button {
  width: 140px;
  margin: 0 20px;
  padding: 12px 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}

.form__btn-wrap .swiper-prev,
.form__btn-wrap .swiper-next {
  color: #00A329;
  border: 1px solid #00A329;
  cursor: pointer;
}

.swiper-prev.swiper-button-disabled,
.swiper-next.swiper-button-disabled {
  border: 1px solid #2C302D;
  color: #2C302D;
  cursor: auto;
  opacity: 0.2;
  pointer-events: none;
}

.blur-for-button {
  pointer-events: none;
  border: 1px solid #2C302D;
  color: #2C302D;
  cursor: auto;
  opacity: 0.2;
}

@media (max-width: 767px) {
  .form__btn-wrap {
    padding: 0 20px;
  }

  .form__btn-wrap button {
    width: 100px;
    margin: 0 10px;
    padding: 8px 0;
  }
}

/* ORDER SECTION */
.order-section {
  padding: 120px 0;
}

.order-type {
  margin-bottom: 20px;
  gap: 50px;
}

.order-type a {
  padding: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--color-text);
  border-bottom: 1px solid transparent;
}

.order-type a.type.active {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.order-section-p {
  max-width: 70%;
  margin: -20px auto 40px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: var(--color-text);
}

.air-conditioners {
  display: block;
}

.recuperators {
  display: none;
}

.cond21 {
  display: flex;
}

.cond25 {
  display: none;
}

.cond35 {
  display: none;
}

.rec21 {
  display: flex;
}

.rec25 {
  display: none;
}

.rec35 {
  display: none;
}

.choose-room-size {
  margin-bottom: 40px;
}

.choose-room-size p {
  width: 220px;
  padding: 10px 0 20px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--color-text);
}

.choose-room-size .choose-room-option{
  flex-wrap: wrap;
  align-items: center;
}

.choose-room-size a.room-size {
  width: 100px;
  margin: 0 20px 10px;
  padding: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-text);
  border-bottom: 1px solid transparent;
  text-align: center;
}

.choose-room-size a.room-size.active {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.order-position-block {
  padding: 80px 20px 20px;
}

.set-type {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background: #f8f4f4;
}

.set-type h4 {
  padding: 20px 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-align: center;
  color: var(--color-text);
}

.set-type h4 span {
  font-weight: 700;
  color: var(--color-primary);
}

.order-position-block .clear-price {
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-text);
}

.order-position-block .service-plus {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: var(--color-text);
}

.order-position-block .order-block-price {
  margin: 5px 0 10px;
  font-size: 36px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
  color: var(--color-text);
}

.order-position-block .saving {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  text-align: center;
  color: var(--color-primary);
}

.order-section .specification {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--color-text);
}

.order-section .specification a {
  font-style: italic;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .order-section {
    padding: 80px 0;
  }

  .order-type {
    gap: 20px;
  }

  .order-type a {
    font-size: 14px;
    line-height: 17px;
  }

  .order-section-p {
    max-width: 100%;
    margin: -10px auto 20px;
    font-size: 14px;
    line-height: 17px;
  }

  .choose-room-size {
    margin: 0;
    flex-direction: column;
  }

  .choose-room-size p {
    margin: 0 0 15px;
    padding: 0;
  }

  .choose-room-size .choose-room-option{
    margin: 0 0 20px;
  }

  .choose-room-size a.room-size {
    margin: 0 0 15px;
  }

  .set-type h4 {
    padding: 15px 0;
    font-size: 20px;
    line-height: 24px;
  }

  .order-position-block .clear-price {
    font-size: 14px;
    line-height: 18px;
  }

  .order-position-block .service-plus {
    margin: 15px 0 0;
    font-size: 14px;
    line-height: 18px;
  }

  .order-position-block .order-block-price {
    font-size: 29px;
    line-height: 36px;
  }

  .order-position-block .saving {
    font-size: 11px;
    line-height: 14px;
  }
}

/*  CALCULATION FORM SECTION BANNER  */
.calculation-call-section {
  padding: 60px 0;
}

.calculation-call-form {
  position: relative;
  left: -100px;
  padding: 40px 45px;
  border: 1px solid rgba(44, 48, 45, 0.2);
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: -5px 5px 5px #dfe0df;
}

.calculation-call-form h4 {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: var(--color-text);
}

.calculation-call-form img {
  margin: 0 10px 0 0;
}

.calculation-call-form form {
  margin: 20px auto 0;
}

.calculation-call-form label img {
  display: block;
}

.calculation-call-form input,
.calculation-call-form label input{
  width: 270px;
  margin: 0 0 10px;
}

.calculation-call-form input[type="submit"] {
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .calculation-call-img {
    display: none;
  }

  .calculation-call-form {
    left: 0;
    width: 370px;
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .calculation-call-section {
    padding: 40px 0;
  }
}

@media (max-width: 576px) {
  .calculation-call-block {
    flex-direction: column-reverse;
  }

  .calculation-call-form {
    width: 100%;
    padding: 40px 20px;
  }

  .calculation-call-form form {
    display: flex;
    flex-direction: column;
    width: 240px;
  }

  .calculation-call-form input,
  .calculation-call-form label input {
    width: 240px;
  }

  .calculation-call-img {
    display: block;
    margin: 20px auto 0;
  }
}

/* HIT SALE SECTION */
.hit-sale {
  padding: 120px 0;
}

.hit-sale-position .sales-marks {
  position: absolute;
  left: 0;
  top: 20px;
  display: flex;
  flex-direction: column;
}

.sales-marks p {
  width: 75px;
  margin: 5px 0;
  padding: 6px 9px;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  border-radius: 0px 5px 5px 0px;
}

.sales-marks p span {
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
}

.sales-marks .sale-sale,
.sales-marks .super-price {
  background: #FF4646;
}

.sales-marks .percent-minus,
.sales-marks .top-sale {
  background: var(--color-primary);
}

.hit-sale-position .sale-bank {
  position: absolute;
  right: 5px;
  margin: 50px 0 0;
}

.sale-bank img {
  height: 30px;
  margin: 10px 0;
}

.sale-bank img.privat-parts {
  position: relative;
  right: 4px;
}

.hit-sale-position .price {
  margin: 20px 0 80px;
}

.hit-sale-position .price .old-price {
  position: absolute;
  left: 20px;
  font-size: 24px;
  font-weight: 400;
  text-decoration-line: line-through;
  color: #2C302D;
}

.hit-sale-position .price .current-price {
  position: absolute;
  right: 20px;
  margin-top: 5px;
  font-size: 36px;
  font-weight: 700;
  color: var(--color-primary);
}

@media (max-width: 1199px) {
  .hit-sale-position .price .old-price {
    font-size: 19px;
  }

  .hit-sale-position .price .current-price {
    font-size: 29px;
  }
}

@media (max-width: 576px) {
  .hit-sale {
    padding: 60px 0;
  }

  .sales-marks p {
    width: 60px;
    padding: 5px;
    font-size: 8px;
    line-height: 10px;
  }

  .hit-sale-position .sale-bank {
    margin: 30px 0 0;
  }

  .sale-bank img {
    height: 25px;
    margin: 8px 0;
  }

  .hit-sale-position .price {
    margin: 16px 0 50px;
  }
}

/* OUR CERTIFICATIONS SECTION */
.our-certifications {
  padding: 60px 0;
}

.our-certifications img {
  width: 23%;
  margin: 0 1% 20px;
}

@media (max-width: 991px) {
  .our-certifications img {
    width: 48%;
    margin: 0 1% 20px;
  }
}

@media (max-width: 576px) {
  .our-certifications img {
    margin: 0 1% 12px;
  }
}


/* OUR WORKS SECTION */
.our-works {
  padding: 120px 0;
}

.our-works img {
  width: 23%;
  margin: 0 1% 20px;
}

@media (max-width: 991px) {
  .our-works {
    padding: 60px 0;
  }

  .our-works img {
    width: 48%;
    margin: 0 1% 20px;
  }
}

@media (max-width: 576px) {
  .our-works img {
    margin: 0 1% 12px;
  }
}

/* ORDER CALC SECTION */
.order-calculation {
  padding: 40px 60px;
  background-image: url(images/backForm.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid rgba(44, 48, 45, 0.2);
  border-radius: 5px;
}

.order-calculation h2 {
  width: 60%;
  margin: 0 0 40px;
  text-align: left;
  color: #fff;
}

.order-calculation label input {
  margin: 0 20px 0 0;
}

@media (max-width: 991px) {
  .order-calculation h2 {
    width: 80%;
  }

  .order-calculation form {
    width: 255px;
  }

  .order-calculation label input,
  .order-calculation input {
    margin: 0 0 10px;
  }
}

@media (max-width: 767px) {
  .order-calculation {
    padding: 40px 20px;
  }

  .order-calculation h2 {
    width: 96%;
  }

  .order-calculation form {
    margin: 0 auto;
  }

  .order-calculation label input,
  .order-calculation input {
    width: 255px;
  }
}

/* BRANDS SECTION */
.brands {
  padding: 120px 0;
}

.brands img {
  width: 18%;
  margin: 0 1% 20px;
}

@media (max-width: 991px) {
  .brands {
    padding: 60px 0;
  }

  .brands img {
    width: 23%;
  }
}

@media (max-width: 576px) {
  .brands img {
    width: 46%;
    margin: 0 2% 12px;
  }
}

/* MAP SECTION */
.map iframe {
  width: 100vw;
  height: 60vh;
  margin: 0 0 -10px;
}

@media (max-width: 576px) {
  .map iframe {
    height: 50vh;
  }
}

/* FOOTER */
footer {
  padding: 40px 0;
  background: #2C302D;
}

footer * {
  color: #fff;
}

.footer {
  gap: 30px;
}

.footer h6 {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.footer .footer-tel {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
}

.footer p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.footer .footer-mail {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer .footer-icons {
  align-items: center;
}

.footer .footer-icons img {
  max-width: 18px;
  margin: 15px 10px 25px 0;
}

.footer form input[type="submit"] {
  margin-top: 10px;
}

@media (max-width: 991px) {
  .footer {
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
  }

  .footer form {
    width: 255px;
  }
}

@media (max-width: 576px) {
  .footer .footer-icons img {
    margin: 5px 10px 15px 0;
  }

  .footer label input,
  .footer input {
    width: 255px;
  }
}


.fixed-butts-wrapper {
  display: none;
}

.fixed-butts {
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.fixed-butts a {
  width: 40px;
  height: 40px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #48D66B 0%, #38AF56 46.88%, #216933 100%);
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgba(93, 207, 122, 0.25);
  transition: 0.2s;
}

.fixed-butts a img {
  min-width: 20px;
  max-width: 24px;
}

.fixed-butts a span {
  display: none;
  margin: 0 0 0 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #fff;
}

.fixed-butts a.butt-text:hover {
  width: 220px;
}

.fixed-butts a:hover span {
  display: block;
}

@media (max-width: 767px) {
  .fixed-butts {
    display: none;
  }
}

/* POP-UP */
.pop-up-back {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s;
}

.pop-up-block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 22;
  width: 400px;
  height: fit-content;
  margin: auto auto;
  padding: 30px 25px;
  background-color: #fff;
  transition: 0.5s;
}

.pop-up-common {
  padding: 40px 25px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: -5px 5px 5px #dfe0df;
}

.pop-up-common .close-pop-up {
  position: absolute;
  top: 3px;
  right: 1px;
}

@media (max-width: 576px) {
  .pop-up-block {
    width: 320px;
    padding: 30px 15px;
  }

  .pop-up-common {
    padding: 40px 20px;
  }

  .pop-up-common .close-pop-up {
    top: 1px;
    right: -4px;
  }
}

.pop-up-phone {
  display: none;
}

.pop-up-phone .pop-up-common {
  padding: 40px 25px 60px;
}

.pop-up-phone h3 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;
  color: #000000;
}

.pop-up-phone p,
.pop-up-phone span {
  margin: 10px 0 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000000;
}

.pop-up-phone form {
  margin: 30px 0 0
}

.pop-up-phone form input[type="submit"] {
  margin: 10px 0;
}

@media (max-width: 576px) {
  .pop-up-phone .pop-up-common {
    padding: 40px 20px;
  }

  .pop-up-phone h3 {
    font-size: 18px;
    line-height: 22px;
  }
}

.pop-up-thanks {
  display: none;
}

.pop-up-thanks p {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #000000;
}

.pop-up-thanks h3 {
  margin: 10px auto 40px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  color: #000000;
}

.pop-up-thanks img {
  border-radius: 5px;
}

@media (max-width: 576px) {
  .pop-up-thanks .pop-up-common {
    padding: 30px 15px 25px;
  }

  .pop-up-thanks p {
    font-size: 11px;
    line-height: 14px;
  }

  .pop-up-thanks h3 {
    margin: 10px auto 30px;
    font-size: 18px;
    line-height: 23px;
  }
}

.cond {
  display: none;
}

.cond:nth-child(4) {
  display: flex;
}

.ready {
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
}